{% extends 'base.html' %}

{% block content %}
<div class="container-fluid d-flex flex-column mb-3">
    <h4> {{ subject }} 게시글 목록</h4>
</div>
<div class="container-fluid d-flex flex-column">
    {% for store in store %}
    <div class="container">
        {% comment %}
        기존 코드
        <a href="{% url 'stores:detail' store.pk %}">{{ store.image.url }}</a>
        {% endcomment %}
        {% if store.image %}
        <img src="{{ store.image.url }}" alt="Thumbnail Image">
        {% else %}
        <img src="" alt="No Image">
        {% endif %}
        <p>{{ store.name }}</p>
        <p>{{ store.address }} - {{ store.category }}</p>
    </div>
    {% endfor %}
</div>


{% for store in stores %}

<div class="container">
    {% comment %}
    기존 코드
    <a href="{% url 'stores:detail' store.pk %}">{{ store.image.url }}</a>
    {% endcomment %}
    {% if store.image %}
    <img src="{{ store.image.url }}" alt="Thumbnail Image">
    {% else %}
    <img src="" alt="No Image">
    {% endif %}
    <p>{{ store.name }}</p>
    <p>{{ store.address }} - {{ store.category }}</p>
</div>

{% endfor %}
{% endblock content %}
