{% extends 'base.html' %}


{% block title %}25 & 27 - 가게 등록{% endblock title %}

{% block style %}

{% endblock style %}

{% block content %}
  <section class="container-fluid my-3">
    <h1 class="fw-bold ms-3">가게 등록</h1>
  
    <form action="{% url 'stores:create' %}" method="post" class="ms-3 stores-create-input" enctype="multipart/form-data">
      {% csrf_token %}
      {{ store_form.as_p }}
      {{ store_image_form.as_p }}
      <button type="submit" class="btn btn-primary fs-4 py-0">가게 등록</button>
    </form>
  </section>

{% endblock content %}