{% extends 'base.html' %}


{% block title %} 25 & 27s {% endblock title %}


{% block content %}
{% load static %}
<header>
  <div id="carouselExample" class="carousel slide" style="height: 350px;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{ store.thumbnail.url }}" class="d-block mx-auto" alt="thumbnail" style="height: 350px;">
      </div>
      {% for store_image in store_images %}
        <div class="carousel-item">
          <img src="{{ store_image.image.url }}" class="d-block mx-auto" alt="store_image" style="height: 350px;">
        </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</header>
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-9">
        <div class="container-fluid">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <p class="mt-4">{{ store.name }} {{store.rating_avg}}</p>
              </div>
              <div class="col">
                <div class="container-fluid d-flex justify-content-end">
                  <div class="row">
                    <div class="col-sm-4 ms-5">
                      <div class="row">
                        <a href="{% url 'reviews:create' store.pk %}" class="text-decoration-none btn" style="width: 5rem;">
                          <img src="https://png.pngtree.com/png-vector/20190628/ourmid/pngtree-pencil-icon-for-your-project-png-image_1520432.jpg" style="width: 3rem;">
                        </a>
                        <p>리뷰 작성</p>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="row">
                        <a href="#" class="text-decoration-none btn" style="width: 5rem;">
                          <img src="https://static.vecteezy.com/system/resources/thumbnails/000/456/464/small/15_-_1_-_Star.jpg" style="width: 3rem;">
                        </a>
                        <p>즐겨찾기</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <span>조회수, 리뷰수, 즐겨찾기 수</span>
          <hr>
          <p>{{ store.address }}</p>
          <p>{{ store.phonenumber }}</p>
          <p>{{ store.category }}</p>
          <p>{{ store.price }}</p>
          <p>{{ store.starttime }}</p>
          <p>{{ store.endtime }}</p>
          <p>{{ store.menu }}</p>
          <p>{{ store.content }}</p>
          <p id="lat" style="display: none">{{ store.latitude }}</p>
          <p id="lng" style="display: none">{{ store.longitude }}</p>
          <hr>
          <div class="container-fluid">
            <div class="d-flex justify-content-between">
              <div class="d-flex align-items-center ms-4">
                <h3>리뷰</h3>
                <i class="bi bi-chat-left-text ms-3 me-2"></i>{{ reviews|length }}
              </div>
            </div>
            <div class="container-fluid">
                {% for review in reviews %}
                  <div>
                    {% comment %} 프로필, 작성일, 평점, 좋아요/싫어요 {% endcomment %}
                    <div class="container-fluid d-flex justify-content-between mt-3">
                      <div class="container-fluid d-flex align-items-center">
                        <div class="row">
                          <div class="col text-center">
                            <a href="{% url 'accounts:profile' review.user %}">
                              {% if review.user.image %}
                                <img src="{{ review.user.image.url }}" class="rounded-circle" style="width: 50px;" alt="profile_img">
                              {% else %}
                                <img src="{% static 'profile_no_image.png' %}" class="rounded-circle" style="width: 50px;" alt="profile_no_image">
                              {% endif %}
                            </a>
                            <p class="align-middle">{{ review.user }}</p>
                          </div>
                          <div class="col">
                            <div class="container-fluid">
                              <p>{{ review.created_string }}</p>
                            </div>
                            <div class="container-fluid">
                              <p>{{ review.content }}</p>
                              <div class="d-flex">
                                {% for review_image in review.reviewimage_set.all %}
                                  <img src="{{ review_image.image.url }}" class="me-2" alt="review img">
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div>
                        {% comment %} emote {% endcomment %}
                        <div class="d-flex">
                          <form action="{% url 'reviews:emotes' review.pk 1 %}" method="POST">
                            {% csrf_token %}
                            {% if request.user.is_authenticated and review.like_exist %}
                              <button type="submit" class="border-0 bg-transparent">
                                <i class="bi bi-hand-thumbs-up-fill"></i> {{ review.likes|length }}
                              </button>
                            {% else %}
                              <button type="submit" class="border-0 bg-transparent">
                                <i class="bi bi-hand-thumbs-up"></i> {{ review.likes|length }}
                              </button>
                            {% endif %}
                          </form>
                          <form action="{% url 'reviews:emotes' review.pk 2 %}" method="POST">
                            {% csrf_token %}
                            {% if request.user.is_authenticated and review.dislike_exist %}
                              <button type="submit" class="border-0 bg-transparent">
                                <i class="bi bi-hand-thumbs-down-fill"></i> {{ review.dislikes|length }}
                              </button>
                            {% else %}
                              <button type="submit" class="border-0 bg-transparent">
                                <i class="bi bi-hand-thumbs-down"></i> {{ review.dislikes|length }}
                              </button>
                            {% endif %}
                          </form>
                        </div>
        
                        {% comment %} rating {% endcomment %}
                        <div class="text-center">별점 : {{ review.rate_to_star }}</div>
                      </div>
                    </div>
                    {% comment %} 리뷰 수정, 삭제 버튼 {% endcomment %}
                    {% if request.user == review.user %}
                    <div class="d-flex justify-content-end">
                      <a href="{% url 'reviews:update' review.pk %}" class="btn btn-outline-primary mt-2" style="width: 3rem; height: 2rem;">수정</a>
                      <form action="{% url 'reviews:delete' review.pk %}" method="POST" class="mx-3">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-outline-danger" value="삭제" style="width: 3rem; height: 2rem;">
                      </form>
                    </div>
                    {% endif %}
                  </div>
                  <hr>
                {% endfor %}
                
            </div>
        </div>
      </div>
      </div>
      <div class="col-lg-3">
        {% if store.latitude and store.longitude %}
        <div id="map" style="height:300px; width: 350px;" class="container-fluid"></div>
        {% else %}
        <p class="text-secondary fst-italic">No Location Information</p>
        {% endif %}
        <p class="text-center">주변 인기 식당</p>
      </div>
    </div>
  </div>
  

  </div>
  <div class="container">
    인덱스처럼 다른 식당 리스트 불러오기
  </div>
</main>

{% endblock content %}


{% block script %}
{# APIKEY 숨기기는 React 권장 #}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=afbeb49e64cb240112a667970ea3d85f"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=afbeb49e64cb240112a667970ea3d85f&libraries=services,clusterer,drawing"></script>
<script>
  const mapLat = document.getElementById('lat').textContent
  const mapLng = document.getElementById('lng').textContent

  if (mapLat !== 'None' && mapLng !== 'None') {
    const mapPosition = new kakao.maps.LatLng(mapLat, mapLng)
  
    console.log(mapLat, mapLng)
  
    var mapContainer = document.getElementById('map')
    var mapOption = {
      center: mapPosition,
      level: 3
    }
  
    var map = new kakao.maps.Map(mapContainer, mapOption)
  
    var markerPosition = mapPosition
  
    var marker = new kakao.maps.Marker({
      position: markerPosition
    })
  
    marker.setMap(map)
  }
</script>
{% endblock script %}