{% extends 'base.html' %}


{% block title %} 25 & 27s {% endblock title %}


{% block content %}
<header>
  {% if store.latitude and store.longitude %}
    <div id="map" style="height:400px;" class="container-fluid"></div>
  {% else %}
    <p class="text-secondary fst-italic">No Location Information</p>
  {% endif %}
  
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        첫 이미지
      </div>
      {% for store in stores %}
      <div class="carousel-item">
        <div class="d-block w-100">
          {{ store.image }}
        </div>  
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</header>
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <p>{{ store.name }} {{store.rating_avg}}</p>
        <span>조회수, 리뷰수, 즐겨찾기 수</span>
        <hr>
        <p>{{ store.address }}</p>
        <p>{{ store.phonenumber }}</p>
        <p>{{ store.category }}</p>
        <p>{{ store.price }}</p>
        <p>{{ store.starttime }}</p>
        <p>{{ store.endtime }}</p>
        <p>{{ store.menu }}</p>
        <p>{{ store.content }}</p>
        <p id="lat" style="display: none">{{ store.latitude }}</p>
        <p id="lng" style="display: none">{{ store.longitude }}</p>
      </div>
      <div class="col">
        네이버지도
        관련 인기 식당
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center ms-4">
        <h3>리뷰</h3>
        <i class="bi bi-chat-left-text ms-3 me-2"></i>{{ reviews|length }}
      </div>
      <a href="{% url 'reviews:create' store.pk %}" class="text-decoration-none me-4 btn btn-warning">리뷰 작성</a>
    </div>
    <div class="container-fluid">
        {% for review in reviews %}
          <div>
            {% comment %} 프로필, 작성일, 평점, 좋아요/싫어요 {% endcomment %}
            <div class="container-fluid d-flex justify-content-between mt-3">
              <div class="d-flex align-items-center">
                <div>
                  {% if review.user.image %}
                    <img src="{{ review.user.image.url }}" alt="profile_img">
                  {% endif %}
                  <div>{{ review.user }}</div>
                </div>
                <div>{{ review.created_at }}</div>
              </div>
              <div>
                {% comment %} emote {% endcomment %}
                <div class="d-flex">
                  <form action="{% url 'reviews:emotes' review.pk 1 %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="border-0 bg-transparent">좋아요 {{ review.likes }}</button>
                  </form>
                  <form action="{% url 'reviews:emotes' review.pk 2 %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="border-0 bg-transparent">싫어요 {{ review.dislikes }}</button>
                  </form>
                </div>

                {% comment %} rating {% endcomment %}
                <div class="text-center">별점 : {{ review.rate_to_star }}</div>
              </div>
            </div>
            {% comment %} 리뷰 내용, 리뷰 이미지 {% endcomment %}
            <div class="container-fluid">
              <p>{{ review.content }}</p>
              {% if review.image %}
                <img src="{{ review.image.url }}" alt="profile_img">
              {% endif %}
              {% if request.user == review.user %}
                <div class="d-flex justify-content-end">
                  <a href="{% url 'reviews:update' review.pk %}" class="btn btn-sm btn-outline-primary">수정</a>
                  <form action="{% url 'reviews:delete' review.pk %}" method="POST" class="mx-3">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-sm btn-outline-danger" value="삭제">
                  </form>
                </div>
              {% endif %}
            </div>
          </div>
          <hr>
        {% endfor %}
    </div>

  </div>
  <div class="container">
    인덱스처럼 다른 식당 리스트 불러오기
  </div>
</main>

{% endblock content %}


{% block script %}
{# APIKEY 숨기기는 React 권장 #}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=afbeb49e64cb240112a667970ea3d85f"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=afbeb49e64cb240112a667970ea3d85f&libraries=services,clusterer,drawing"></script>
<script>
  const mapLat = document.getElementById('lat').textContent
  const mapLng = document.getElementById('lng').textContent

  if (mapLat !== 'None' && mapLng !== 'None') {
    const mapPosition = new kakao.maps.LatLng(mapLat, mapLng)
  
    console.log(mapLat, mapLng)
  
    var mapContainer = document.getElementById('map')
    var mapOption = {
      center: mapPosition,
      level: 3
    }
  
    var map = new kakao.maps.Map(mapContainer, mapOption)
  
    var markerPosition = mapPosition
  
    var marker = new kakao.maps.Marker({
      position: markerPosition
    })
  
    marker.setMap(map)
  }
</script>
{% endblock script %}