.stores-create-input {
  width: 25rem;
}

.stores-create-input>p>input {
  font-size: 1.5rem;
  padding: 0 0.5rem;
}

.stores-create-input>p>textarea {
  font-size: 1.5rem;
  padding: 0 0.5rem;
}

.stores-create-input>p>select {
  font-size: 1.5rem;
  padding: 0 0.5rem;
}

.text-orange {
  color: orange;
}

.btn-orange {
  color: white;
  background-color: orange;
  border-radius: 10px;
}
.btn-orange:hover {
  color: white;
  background-color: rgb(194, 126, 1);
  border-radius: 10px;
}
.btn.btn-orange:active {
  color: white;
  background-color: rgb(194, 126, 1);
  border-radius: 10px;
}

.all-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}
.all-likes {
  position: absolute;
  top: 3rem;
  right: 0rem;
}
.food-thumbnail-section {
  position: relative;
  padding: 2rem 0;
  width: 50vw;
  min-width: 50rem;
}

.food-thumbnail-block {
  margin-right: 2rem;
}
.food-thumbnail-img {
  width: 15rem;
  height: 15rem;
}

/* reviews */
.reviews-input > p > input {
  font-size: 1.5rem;
}

.reviews-input > p > textarea {
  font-size: 1.5rem;
}

.reviews-input > p > select {
  font-size: 1.5rem;
}