{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="bg-body-tertiary">
  
<section class="container-fluid container-lg bg-white mb-5 py-3">

  <h1 class="text-center mb-5" style="color: orange;">{{ person.username }}님의 프로필 페이지</h1>
  {% comment %} 
  <div class='my-4'>
    <a href="{% url 'stores:index' %}">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="40" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
      </svg>
    </a>
  </div>
  {% endcomment %}
  <div class='d-flex flex-row justify-content-between'>
    <div class='d-flex flex-row'>
      <div class='px-3'>
        {% if person == request.user %}
        <a href="{% url 'accounts:update' %}" class="text-decoration-none">
          <div class="position-relative">
            {% if person.image %}
            <img src="{{ person.image.url }}" alt="profile_img" class="profile-icon profile-icon-update">
            {% else %}
            <img src="{% static 'profile_no_image.png' %}" alt="No Image" class="profile-icon profile-icon-update">
            {% endif %}
            <p class="profile-icon-plus">+</p>
          </div>
        </a>
        {% else %}
          {% if person.image %}
          <img src="{{ person.image.url }}" alt="profile_img" class="profile-icon">
          {% else %}
          <img src="{% static 'profile_no_image.png' %}" alt="No Image" class="profile-icon">
          {% endif %}
        {% endif %}
        <h3 class='fs-1 text-center mt-2'>{{ person.username }}</h3>
        {% if request.user in person.followers.all %}
        <p class="text-body-tertiary text-center small m-0">팔로잉 중</p>
        {% endif %}
      </div>
      <div class='d-flex flex-column align-items-center px-3 ms-5'>
        <p>팔로잉</p>
        {{ person.followings.all|length }} 
      </div>
      <div class='d-flex flex-column align-items-center px-3'>
        <p>팔로워</p>
        {{ person.followers.all|length }}
      </div>
    </div>
    {% if request.user != person %}
    <div class="align-self-center">
      <form action="{% url 'accounts:follow' person.pk %}" method="POST" class="">
        {% csrf_token %}
        <button type='submit' class="text-orange follow-btn">
          {% if request.user in person.followers.all %}
          <i class="bi bi-person-dash-fill"></i>
          {% else %}
          <i class="bi bi-person-plus"></i>
          {% endif %}
        </button>
      </form>
    </div>
      {% else %}
      <a href="{% url 'accounts:update' %}" class="align-self-center btn btn-outline-orange fs-3 me-3">내 정보 수정</a>
    {% endif %}  
  </div>
  
  </section>
  
  <section class="container-fluid container-lg bg-white my-5 py-2">
    
  <h1 class="text-center py-3" style="color: orange; ">{{ person.username }}님의 리뷰</h1>
  {% if person.review_set.count == 0 %}
  <p class="text-body-tertiary text-center">작성한 리뷰가 없습니다</p>
  {% else %}
  <table class="table table-hover mx-2">
    <thead>
      <tr>
        <th scope="col">리뷰 내용</th>
        {% comment %} <th scope="col">리뷰 이미지</th> {% endcomment %}
        <th scope="col">내가 남긴 가게 점수</th>
        <th scope="col">리뷰 작성 날짜</th>
        <th scope="col">가게</th>
      </tr>
    </thead>
    <tbody>
      {% for review in person.review_set.all reversed %}
      <tr>
        <td href="">{{ review.content }}</td>
        {% comment %} <td>
        {% if review.image %}
        <img src="{{ review.image.url }}" alt="Thumbnail Image">
        {% endif %}
        </td> {% endcomment %}
        <td>{{ review.rating }}</td>
        <td>{{ review.created_string }}</td>
        <td><a href="{% url 'stores:detail' review.store.pk %}">{{ review.store.name }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
  
  </section>

  <section class="container-fluid container-lg bg-white my-3 py-2">
    <h1 class="text-center py-3" style="color: orange;">{{ person.username }}의 즐겨찾기 가게</h1>
    {% if pseron.like_stores.count == 0 %}
    <p class="text-body-tertiary text-center">즐겨찾기한 가게가 없습니다</p>
    {% else %}
    <div class="row row-cols-1 row-cols-lg-2">
    {% for store in my_stores %}
      <div class="col mt-5 d-flex justify-content-center">
        <div class="mb-3">
          <a href="{% url 'stores:detail' store.pk %}" class="text-decoration-none text-dark">
          <div class="card d-flex" style="width: 27rem;">
            <div class="card-img-container ">
              {% if store.thumbnail %}
              <img src="{{ store.thumbnail.url }}" class="card-img overflow-hidden" alt="...">
              {% else %}
              <img src="{% static 'empty-food.jpg' %}" alt="" class="card-img">
              {% endif %}
            </div>
            <div class="card-body">
              <div class="d-flex justify-content-center">
                <h1 class="card-title mt-1">
                  {{ store.name }}
                </h1>
                <span class="text-orange position-absolute end-0 me-3">
                  ★ 
                  {% if store.rating_avg %}
                    {{ store.rating_avg|floatformat:1 }}
                  {% else %}
                    0.0
                  {% endif %}
                  ({{ store.review_set.all|length }})
                </span>
              </div>
              <p class="card-text text-center">
                {% if store.address %}
                {{ store.address }}
                {% else %}
                <span class="text-none-data">등록된 주소가 없습니다.</span>
                {% endif %}

              </p>
              <p class="card-text text-center">{{ store.content }}</p>
            </div>
          </div>
        </a>
        </div>
      </div>
    {% endfor %}
    </div>
    {% endif %}
  </section>  

  <section class="container-fluid container-lg">
    <form action="{% url 'accounts:delete' %}" method="post" class="d-flex justify-content-end mt-2">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger w-25 fs-3 my-3">회원 탈퇴</button>
    </form>
  </section>

</div>
{% endblock content %}