{% extends 'base.html' %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="container-fluid d-flex justify-content-center">
      <img src="https://d1.awsstatic.com/logos/customers/KO/logo_Mangoplate.12908c5b9952bc4f14bdc966e5e81b521415fc6a.png" style="width: 20rem;">
    </div>
    <div class="container d-flex justify-content-center mt-5">
      <ul class="nav flex-column">
          <li class="nav-item text-center">
              <p class="fs-5 ms-3">간단한 회원가입</p>
          </li>
          <li class="nav-item">
          <form action="{% url 'accounts:signup' %}" method="POST" class="nav-link"  enctype = 'multipart/form-data'>
              {% csrf_token %}
              {{ form.as_p }}       
              <div class="container-fluid d-flex justify-content-center">
                <input type="submit" class="btn btn-outline-primary"  role="button" value="회원가입">
              </div>
          </form>
          </li>
      </ul>
    </div>
</div>

<!-- <script langauge="javascript">

  window.open("{% url 'accounts:signup' %}","회원가입","width=800,height=800");

</script> -->

{% endblock content %}
