<nav class="navbar bg-white sticky-top shadow-sm px-3 py-2 rounded-bottom-2">
  <div class="container-fluid d-flex justify-content-between mx-5">
    <a class="navbar-brand" href="{% url 'stores:index' %}">
      <img src="https://d1.awsstatic.com/logos/customers/KO/logo_Mangoplate.12908c5b9952bc4f14bdc966e5e81b521415fc6a.png" style="width: 4rem; height: 1.5rem;">
    </a>
    <div class="d-flex">
        <a href="{% url 'stores:all_stores' %}" class="btn me-3 d-flex" role="button" style="font-size: xx-large;">모든 가게</a>
        <div class="dropdown py-2">
          <button class="btn dropdown-toggle mb-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="https://cdn.icon-icons.com/icons2/1893/PNG/512/scientistavatar_120780.png" style="width: 1.5rem; height: 1.5rem;">
          </button>
          <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton" style="position:absolute; left:auto; right:0; width: 15rem; z-index: 10;">
            {% comment %}             
            <li><a class="dropdown-item" href="#" style="font-size: xx-large;">ex) 조회 이력</a></li>
            <li><hr class="dropdown-divider"></li>
            {% endcomment %}
            <li>
              <div class="container-fluid d-flex align-items-center">
                <div class="container-fluid d-flex justify-content-center">
                {% if request.user.is_authenticated %}
                  <h1 class="my-2 d-flex align-items-centers" style="font-size: xx-large;">
                    {% if request.user.is_superuser %}
                    <i class="bi bi-wrench-adjustable text-warning me-3"></i>
                    {% endif %}
                    <span class="">{{ user }}</span>
                  </h1> 
                </div>
                <hr>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <div class="row d-flex">
                  <div class="col-5">
                      <form action="{% url 'accounts:logout' %}" method="POST" class="ms-3">
                        {% csrf_token %}
                        <input type="submit" value="로그아웃" class="btn btn-outline-danger" style="font-size: xx-large;">
                      </form>
                  </div>
                  <div class="col-5">
                      <a href="{% url 'accounts:profile' user.username %}" class="btn btn-outline-primary" style="width: 7rem; font-size: xx-large;">마이페이지</a>
                  </div>
                  <div class="col-5">
                    {% if request.user.is_superuser %}
                      <a href="{% url 'stores:create' %}" class="btn btn-orange ms-3 mt-4" style="width: 13rem; font-size: xx-large;">가게 등록</a>
                    {% endif %}
                  </div>
                </div>
                {% else %}
                <div>
                  <a href="{% url 'accounts:login' %}" class="btn fs-4">로그인</a>
                  <a href="{% url 'accounts:signup' %}" class="btn fs-4">회원가입</a>
                </div>
                {% endif %} 
              </div>
            </li>
          </ul>
        </div>
    </div>
  </div>
</nav>